/******************************titlecss*******************************/

.foodhublogo{
    height: 50px;
    width: 120px;
    margin: 10px;
}

/* .headertitle1{
    color: green;
} */
/* .headertitle2{
    color: white;
} */
/******************************backgroundcss*******************************/
.home{background-color: rgb(51, 51, 51);
    height: 90vh;
    width: 100%;
    color:white;
    display:flex;
    justify-content: center;
}
/******************************notificationscss*******************************/
.notifications{
    height: 95%;
    width: 20vw;
    background-color: #171717;
    margin: 15px;
    border-radius: 15px;
    border-style: none;
}

/******************************profilecss*******************************/
.profilesection{
    height: 95%;
    width: 20vw;
    background-color: #171717;
    margin: 15px;
    display:grid;
    /* flex-direction: column; */
    justify-content: center;
    border-radius: 15px;
    border-style: none;
}

.dp{
    height: 200px;
    width: 200px;
    background-color: #adff2f;
    border-radius: 100%;
    margin-top: 20px;
}
.profilename{
   height: 40px;
   width: 200px;
   margin-top: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 18pt;
}
.profilebio{
    height: 100px;
    width: 200px;
    font-size: 10pt;
}
.profilesectionbuttons{
    height: 150px;
    width: 200px;
    display:grid;
    justify-content: space-around;
}
.profilesettingsbutton{
    height: 40px;
    width: 200px;
    color: black;
    background-color: #adff2f;
    font-size: medium;
    border-style: none;
    border-radius: 10px;

}
.profilesignoutbutton{
    height: 40px;
    width: 200px;
    color: black;
    background-color: #adff2f;
    font-size: medium;
    border-style: none;
    border-radius: 10px;
}
.profilecreatepostbutton{
    height: 40px;
    width: 200px;
    color: black;
    background-color: #adff2f;
    font-size: medium;
    border-style: none;
    border-radius: 10px;
}
/* ****************************feedcss*******************************/
.feed{display:grid;
    height: 95%;
    width: 50vw;
    background-color: #171717;
    justify-content: center;
    margin: 15px;
    border-radius: 15px;
    border-style: none;
}
.search{display: grid;
    justify-content: center;
    height: 30px;
    width: 670px;
    border-color: #adff2f;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border-style: double;
    border-width: 5px;
}
.feedpostcontainer{display:grid;
    /* height: 100%; */
    width:  700px;
    background-color: #171717;
    justify-content: center;
    overflow-y: scroll;
}

.feedpostcontainer {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
  
.feedpostcontainer::-webkit-scrollbar {
    width: 5px;
}
  
.feedpostcontainer::-webkit-scrollbar-thumb {
    background-color: transparent;
}
  
.feedpostcontainer::-webkit-scrollbar-track {
   background-color: transparent;
}


.postuserinfo{display: flex;
    justify-content: center;
    height: 40px;
    width: 670px;
    background-color: #333333;
}
.postdp{
    height: 30px;
    width: 30px;
    border-radius: 100%;
    background-color: #adff2f;
    margin: 5px;
}
.postuser{
    height: 30px;
    width: 100%;
    color: white;
    padding-top: 6px;
}
.postpicture{display:grid;
    height: 550px;
    width: 670px;
    background-color: #adff2f;
    justify-content: center;   
}
.postpictureimage{
    height: 510px;
    width: 670px;
} 
.postcaption{display:grid;
    height: 100%;
    width: 670px;
    color: #171717;
    justify-content: left;
}
.postinteractions{display:flex;
    height: 45px;
    width:  100%;
    background-color: #171717;
    justify-content: left;
    flex-direction: row;
}
.likebutton{
    height: 45px;
    width: 45px;
    color: white;
    font-size: 35px;
    background: none;
    border-style: none;
    margin-top: 5px;
    cursor: pointer;
}
.commentbutton{
    height: 45px;
    width: 45px;
    color: white;
    font-size: 35px;
    background: none;
    border-style: none;
    margin-top: 5px;
    cursor: pointer;
}
.comments{display: grid;
    height: 100%;
    width: 670px;
    background-color:#171717;
    justify-content: left;
    
}
.comment-button-wrapper{display: flex;
    justify-content: space-between;
    height: 30px;
    width: 660px;
    background-color: #333333;
    border-radius: 5px;
    border-style: none;
    padding-left: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.comment-edit-button{
    height: 30px;
    width: 30px;
    font-size: 15px;
    color: #adff2f;
    background: none;
    border-style: none;
    cursor: pointer;
}
.comment-delete-button{
    height: 30px;
    width: 30px;
    font-size: 15px;
    color: #adff2f;
    background: none;
    border-style: none;
    cursor: pointer;
    margin-right: 15px;
}
.main-container{display: flex;
    height: 30px;
    background-color: #171717;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}
.comment-flexbox{display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.inputbox{display: flex;
    align-items: left;
    height: 20px;
    width: 600px;
    border-radius: 5px;
    padding-left: 10px;
}
.post-comment-button{
    height: 20px;
    width: 50px;
    background-color: #adff2f;
    font-size: 9pt;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    margin: 3px;
}