*{margin:0;}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #171717;
  min-height: 10vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: rgb(249, 247, 246);
  padding-left: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .footer{background-color: rgb(255, 157, 0);
width: 100%;
height: 10vh;} */
/* .headertitle2{color:rgb(255, 157, 0);} */

.headerbuttons{
  height:50px;
  width: 100px;
  text-decoration: none;
  color: #adff2f;
  cursor: pointer;
  font-size: 20pt;
  padding-top: 15px;
}
/* .profilelinktext{
  color: white;
  font-size: 14pt;
} */
.profile-link {
  display: inline-block;
  transition: transform 0.3s;
}

.headerbuttons:hover .profile-link {
  transform: scale(1.3);
}